

.card {
  position: relative;
  transition: 2s ease;
  max-width: fit-content;
  margin-bottom: 40px;
}

.card_text {
  position: absolute;

  bottom: 0;
  color: black;
  height: 95%;
  width: 96%;
  opacity: 0;
  margin-inline: -3%;
}
.card_text a {
  color: white;
  text-decoration: underline;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 10%;
  font-family: Andale Mono, monospace;
  bottom: 10%;
  position: relative;
  bottom: 20px;
}
.card:hover .card_text {
  transition: 1s ease;
  bottom: 5%;
  left: 5%;
  opacity: 1;
  display: block;
  border-radius: 30px;
  background: rgb(20, 28, 58);
  text-align: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 32px;
  z-index: 1;
}
.card:hover img {
  transition: 1s ease-in-out;
  z-index: 4;
  filter: blur(5px);
}
.card_img {
  height: fit-content;
  border-radius: 32px;
}
.card_text h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 5%;
}
.card_text p {
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-weight: 600;
  font-family: "anybody";
  color: white;
  margin: 5%;
}
#filter {
  margin-top: 5%;
  margin-left: 12%;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  color: #000;
  cursor: pointer;
  transition: background 0.3s;
}
input[type="checkbox"] + label:hover {
  background: blue;
}
input[type="checkbox"]:checked + label {
  background: blue;
  color: #fff;
}

iframe {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
}
